server:
{% for interface in nsd_interfaces %}
    interface: {{ interface }}
{% endfor %}
    verbosity: {{ nsd_verbosity }}
    hide-version: {{ 'yes' if nsd_hide_version else 'no' }}
    zonesdir: {{ nsd_zonesdir }}

remote-control:
    control-enable: {{ 'yes' if nsd_remote_control else 'no' }}

{% for zone in nsd_zones %}
zone:
    name: {{ zone.name }}
    zonefile: {{ zone.name }}.zone
{% endfor %}
