# https://github.com/go-gitea/gitea/blob/master/contrib/systemd/gitea.service

[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target
After=network.target

[Service]
RestartSec=10s
Type=simple
User={{ gitea_user }}
Group={{ gitea_user }}
WorkingDirectory={{ gitea_work_dir }}
ExecStart=/usr/local/bin/gitea web --config /etc/gitea/app.ini
Restart=always
Environment=USER={{ gitea_user }} HOME={{ gitea_work_dir}} GITEA_WORK_DIR={{ gitea_work_dir }}

[Install]
WantedBy=multi-user.target
